@import "variables";
@import "fonts";
@import "layout-list";
@import "layout-grid";

body.single.single-docs .content-area {
    width: 100%;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

.ibxDocs-overflow-hidden {
    overflow: hidden;
}

.ibxDocs-single-wrap {
    width: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    .clearfix();

    .ibxDocs-sidebar {
        width: 25%;

        h3.widget-title {
            font-weight: bold;
            border-bottom: 1px solid @borderColor;
            margin: 0 0 15px 0;
            padding: 0 0 15px 0;
        }

        ul.doc-nav-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {

                a {
                    display: block;
                    padding: 8px 20px;
                    text-decoration: none;
                }

                ul.children {
                    list-style: none;
                    margin: 15px 0 15px 26px;
                    padding: 0;
                    border: none;
                    border-left: 1px solid #ddd;
                    display: none;

                    a {
                        color: #333333;
                        font-weight: normal;
                    }
                }
            }

            > li.current_page_parent,
            > li.current_page_item,
            > li.current_page_ancestor, {
                > a {
                    background: @mainColor;
                    color: #fff;
                }

                li.current_page_item > a {
                    border-left: 2px solid @mainColor;
                    color: #191919;
                    font-weight: bold;
                }

                ul.children {
                    display: block;
                }
            }
        }
    }

    .ibxDocs-single-content {
        width: 75%;
        border-left: 1px solid @borderColor;
        padding-left: 25px;

        ol.ibxDocs-breadcrumb {
            margin-bottom: 30px;
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
                display: inline;

                &.delimiter {
                    color: #999;
                    margin: 0 2px;
                }
            }

            a {
                text-decoration: none;
            }
        }

        article {
            position: relative;

            @import "doc-article";
        }

        .ibxDocs-comments-wrap {
            position: relative;
        }
    }
}

.ibxDocs-doc-nav {
    .clearfix();

    width: 100%;
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    margin: 20px 0 30px 0;
    padding: 25px 0;

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        width: 50%;
        text-align: right;
    }
}

.ibxDocs-feedback-wrap {
    .clearfix();

    padding-top: 15px;
    text-align: center;
    margin: 25px 0;

    .vote-link-wrap {
        margin-left: 10px;
    }

    a {
        font-weight: normal;
        padding: 2px 10px 2px 10px;
        color: #fff;
        text-decoration: none;
        line-height: 150%;
        border-radius: 2px;

        .count {
            background-color: #fff;
            border-radius: 50%;
            color: #999;
            width: 16px;
            height: 16px;
            font-size: 11px;
            font-weight: normal;
            text-align: center;
            display: inline-block;
            margin-left: 5px;
            line-height: 150%;
        }

        &:hover {
            text-decoration: none;
        }
    }

    a.positive {
        background: #6a9c1f;
        border: 1px solid darken(#6a9c1f, 1%);
        margin-right: 10px;

        &:hover {
            background-color: darken(#6a9c1f, 5%);
            color: #fff;
        }
    }

    a.negative {
        background: #ac2d22;
        border: 1px solid darken(#ac2d22, 1%);

        &:hover {
            background-color: darken(#ac2d22, 5%);
            color: #fff;
        }
    }
}

.ibxDocs-alert {
    padding: 15px;
    border: 1px solid transparent;

    &.ibxDocs-alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.ibxDocs-alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
}

.ibxDocs-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9985;
    background-color: #000;
    opacity: .5;
    display: none;
}

.ibxDocs-contact-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 9990;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border-radius: 3px;
    outline: 0;
    display: none;

    .ibxDocs-modal-close {
        position: absolute;
        display: block;
        z-index: 9997;
        top: 0;
        right: 0;
        text-decoration: none;
        background: #eee;
        padding: 5px 15px 5px 15px;
        color: #666;
        font-size: 15px;

        &:hover {
            color: #333;
            background: #ccc;
        }
    }

    .ibxDocs-modal-header,
    .ibxDocs-modal-body {
        padding: 0 50px;
    }

    .ibxDocs-modal-header {
        padding: 20px 0;
        text-align: center;
    }

    .ibxDocs-modal-body {
        padding-bottom: 40px;

        #ibxDocs-modal-errors .ibxDocs-alert {
            margin-bottom: 20px;
        }

        .ibxDocs-form-row {
            margin-bottom: 10px;

            label {
                padding-bottom: 5px;
                display: block;
            }
        }

        .ibxDocs-form-action {
            margin-top: 10px;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background: #f7f7f7;
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        color: #686868;
        padding: 0.625em 0.4375em;
        width: 100%;

        &:focus {
            background-color: #fff;
            border-color: #007acc;
            color: #1a1a1a;
            outline: 0;
        }
    }

    input[disabled] {
        cursor: default;
        opacity: .5;
    }
}

.ibxDocs-icon-spin {
    -webkit-animation: ibxDocs-spin 2s infinite linear;
    animation: ibxDocs-spin 2s infinite linear;
}

@-webkit-keyframes ibxDocs-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes ibxDocs-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@import "responsive";
