@import "variables";
@import "fonts";

/* List Type 1 CSS */

.ibxDocs-shortcode-wrap.ibxDocs-list-1 {
    .clearfix();

    ul.ibxDocs-docs-list {
        .clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li.ibxDocs-docs-single 
        {  
			margin: 0;
            margin-bottom: 20px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
            box-shadow: 0 1px 1px rgba(0,0,0,0.04);
			padding: 10px;
			display:flex;
            position: relative; 
            box-sizing: border-box;
			background-color: #ddd;

            div.ibxDocs-docs-single-tile-section-wrapper {
				width:90%;
				padding-left: 3%;
				padding: 1%;   
				display: inline-flex;     
				flex-direction: column;
				background-color: #fff;  

                h3.ibxDocs-docs-single-title {
					font-size: 36px;
					margin-bottom: 2px;
					margin-left: 1%;
					display:block;
					text-align:left;
					
                    a {
                        text-decoration: none;
                    }
                }

                div.ibxDocs-doc-content {
                    padding: 15px;
					margin: 0;


                    ul.ibxDocs-doc-items {
                        margin: 0 !important;
						list-style-type: none !important;

                        li {
							display: inline-block;
							
							.ibxDocs-doc-item{
								color: #696666;
								letter-spacing: 1px;
							}

							.ibxDocs-doc-item:hover{
								color: #000000;
							}
                        }
                    }
                }
            }

            .ibxDocs-docs-single-topic-count{
				width:10%;
				padding: 20px;
                background-color: #ccc;
                text-align:center;               
                display:inline-flex;
                align-items:center;
				justify-content:center;				
            }

			&.col-1 > li {
				width:100%;
			}

			&.col-2 > li {
				float: left;
				width: 48%;

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 3%;
				}
			}

			&.col-3 > li {
				float: left;
				width: 31%;
				margin-right: 3%;

				&:nth-child(3n+1) {
					clear: both;
				}

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}

/* List Style 2 CSS */

.ibxDocs-shortcode-wrap.ibxDocs-list-2 {
    .clearfix();

    ul.ibxDocs-docs-list {
        .clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li.ibxDocs-docs-single 
        {  
			margin: 0;
            margin-bottom: 20px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
            box-shadow: 0 1px 1px rgba(0,0,0,0.04);
			padding: 10px;
			display:flex;
            position: relative; 
            box-sizing: border-box;
			background-color: #ddd;
			align-items:center;

            div.ibxDocs-docs-single-tile-section-wrapper {
				width:90%;   
				display: inline-flex;     
				flex-direction: column;   

                h3.ibxDocs-docs-single-title {
					font-size: 36px;
					margin-bottom: 2px;
					margin-left: 1%;
					display:block;
					text-align:left;
					
                    a {
                        text-decoration: none;
                    }
                }

                div.ibxDocs-doc-content {
                    padding: 15px;
					margin: 0;


                    ul.ibxDocs-doc-items {
                        margin: 0 !important;
						list-style-type: none !important;

                        li {
							display: inline-block;
							
							.ibxDocs-doc-item{
								color: #696666;
								letter-spacing: 1px;
							}

							.ibxDocs-doc-item:hover{
								color: #000000;
							}
                        }
                    }
                }
            }

            .ibxDocs-docs-single-topic-count{
				width:50px;
				height: 50px;
				padding: 20px;
				border-radius: 50px;
                background-color: #ccc;
                text-align:center;               
                display:inline-flex;
                align-items:center;
				justify-content:center;				
            }

			&.col-1 > li {
				width:100%;
			}

			&.col-2 > li {
				float: left;
				width: 48%;

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 3%;
				}
			}

			&.col-3 > li {
				float: left;
				width: 31%;
				margin-right: 3%;

				&:nth-child(3n+1) {
					clear: both;
				}

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}

/* List Style 2 CSS */

.ibxDocs-shortcode-wrap.ibxDocs-list-3 {
    .clearfix();

    ul.ibxDocs-docs-list {
        .clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li.ibxDocs-docs-single 
        {  
			margin: 0;
			margin-bottom: 20px;
			padding: 10px;
			display:flex;
            position: relative; 
            box-sizing: border-box;

            div.ibxDocs-docs-single-tile-section-wrapper {
				width:90%;
				padding-left: 3%;
				padding-right: 1%;
				padding-top: 1%;
				padding-bottom: 1%;   
				display: inline-flex;     
				flex-direction: column;
				background-color: #ddd;
				margin-right: 10px;

                h3.ibxDocs-docs-single-title {
					font-size: 36px;
					margin-bottom: 2px;
					margin-left: 1%;
					display:block;
					text-align:left;
					
                    a {
                        text-decoration: none;
                    }
                }

                div.ibxDocs-doc-content {
                    padding: 15px;
					margin: 0;


                    ul.ibxDocs-doc-items {
                        margin: 0 !important;
						list-style-type: none !important;

                        li {
							display: inline-block;
							
							.ibxDocs-doc-item{
								color: #696666;
								letter-spacing: 1px;
							}

							.ibxDocs-doc-item:hover{
								color: #000000;
							}
                        }
                    }
                }
            }

            .ibxDocs-docs-single-topic-count{
				width:10%;
				padding: 20px;
                background-color: #ccc;
                text-align:center;               
                display:inline-flex;
                align-items:center;
				justify-content:center;				
            }

			&.col-1 > li {
				width:100%;
			}

			&.col-2 > li {
				float: left;
				width: 48%;

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 3%;
				}
			}

			&.col-3 > li {
				float: left;
				width: 31%;
				margin-right: 3%;

				&:nth-child(3n+1) {
					clear: both;
				}

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}