@import "variables";
@import "fonts";

.ibxDocs-shortcode-wrap.ibxDocs-grid {
    .clearfix();

    ul.ibxDocs-docs-list {
        .clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li.ibxDocs-docs-single {
            margin: 0;
            margin-bottom: 20px;
            position: relative;
            border: 1px solid #e5e5e5;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
            box-shadow: 0 1px 1px rgba(0,0,0,0.04);

            h3.ibxDocs-docs-single-title {
                border-bottom: 1px solid #eee;
                font-size: 18px;
                font-weight: bold;
                padding: 8px 12px;
                margin: 0;
                line-height: 1.4;

                a {
                    text-decoration: none;
                }
            }

            .ibxDocs-doc-content {
                padding: 15px;
                min-height: 60px;
            }

            .ibxDocs-doc-link {
                text-align: center;
                padding: 10px 0;
                border-top: 1px solid #eee;
                background-color: #f7f7f7;
            }
        }

        ul.ibxDocs-docs-list {
            margin-left: 20px;
            padding: 0;
            list-style-type: disc;

            li {
                margin: 0;
            }
        }

        &.col-1 > li {
            width:100%;
        }

        &.col-2 > li {
            float: left;
            width: 48%;

            &:nth-child(2n+1) {
                clear: both;
                margin-right: 3%;
            }
        }

        &.col-3 > li {
            float: left;
            width: 31%;
            margin-right: 3%;

            &:nth-child(3n+1) {
                clear: both;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}
