@font-face {
  font-family: 'ibxDocs';
  src: url('../fonts/ibxDocs.eot?eqifws');
  src: url('../fonts/ibxDocs.eot?eqifws#iefix') format('embedded-opentype'), url('../fonts/ibxDocs.ttf?eqifws') format('truetype'), url('../fonts/ibxDocs.woff?eqifws') format('woff'), url('../fonts/ibxDocs.svg?eqifws#ibxDocs') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.ibxDocs-icon {
  font-family: 'ibxDocs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ibxDocs-icon-close:before {
  content: "\f00d";
}
.ibxDocs-icon-remove:before {
  content: "\f00d";
}
.ibxDocs-icon-times:before {
  content: "\f00d";
}
.ibxDocs-icon-home:before {
  content: "\f015";
}
.ibxDocs-icon-refresh:before {
  content: "\f021";
}
.ibxDocs-icon-print:before {
  content: "\f02f";
}
.ibxDocs-icon-envelope:before {
  content: "\f0e0";
}
.ibxDocs-icon-angle-left:before {
  content: "\f104";
}
.ibxDocs-icon-angle-right:before {
  content: "\f105";
}
.ibxDocs-icon-smile-o:before {
  content: "\f118";
}
.ibxDocs-icon-frown-o:before {
  content: "\f119";
}
