@font-face {
  font-family: 'ibxDocs';
  src: url('../fonts/ibxDocs.eot?eqifws');
  src: url('../fonts/ibxDocs.eot?eqifws#iefix') format('embedded-opentype'), url('../fonts/ibxDocs.ttf?eqifws') format('truetype'), url('../fonts/ibxDocs.woff?eqifws') format('woff'), url('../fonts/ibxDocs.svg?eqifws#ibxDocs') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.ibxDocs-icon {
  font-family: 'ibxDocs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ibxDocs-icon-close:before {
  content: "\f00d";
}
.ibxDocs-icon-remove:before {
  content: "\f00d";
}
.ibxDocs-icon-times:before {
  content: "\f00d";
}
.ibxDocs-icon-home:before {
  content: "\f015";
}
.ibxDocs-icon-refresh:before {
  content: "\f021";
}
.ibxDocs-icon-print:before {
  content: "\f02f";
}
.ibxDocs-icon-envelope:before {
  content: "\f0e0";
}
.ibxDocs-icon-angle-left:before {
  content: "\f104";
}
.ibxDocs-icon-angle-right:before {
  content: "\f105";
}
.ibxDocs-icon-smile-o:before {
  content: "\f118";
}
.ibxDocs-icon-frown-o:before {
  content: "\f119";
}
/* List Type 1 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-1:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-1:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  padding-left: 3%;
  padding: 1%;
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 10%;
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
/* List Style 2 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-2:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-2:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
  align-items: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  display: inline-flex;
  flex-direction: column;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
/* List Style 2 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-3:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-3:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-flex;
  flex-direction: column;
  background-color: #ddd;
  margin-right: 10px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 10%;
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid:before,
.ibxDocs-shortcode-wrap.ibxDocs-grid:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single h3.ibxDocs-docs-single-title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-doc-content {
  padding: 15px;
  min-height: 60px;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-doc-link {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list ul.ibxDocs-docs-list {
  margin-left: 20px;
  padding: 0;
  list-style-type: disc;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list ul.ibxDocs-docs-list li {
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
body.single.single-docs .content-area {
  width: 100%;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
}
.ibxDocs-overflow-hidden {
  overflow: hidden;
}
.ibxDocs-single-wrap {
  width: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.ibxDocs-single-wrap:before,
.ibxDocs-single-wrap:after {
  content: " ";
  display: table;
}
.ibxDocs-single-wrap:after {
  clear: both;
}
.ibxDocs-single-wrap .ibxDocs-sidebar {
  width: 25%;
}
.ibxDocs-single-wrap .ibxDocs-sidebar h3.widget-title {
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list li a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list li ul.children {
  list-style: none;
  margin: 15px 0 15px 26px;
  padding: 0;
  border: none;
  border-left: 1px solid #ddd;
  display: none;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list li ul.children a {
  color: #333333;
  font-weight: normal;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_parent > a,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_item > a,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_ancestor > a {
  background: #3598db;
  color: #fff;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_parent li.current_page_item > a,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_item li.current_page_item > a,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_ancestor li.current_page_item > a {
  border-left: 2px solid #3598db;
  color: #191919;
  font-weight: bold;
}
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_parent ul.children,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_item ul.children,
.ibxDocs-single-wrap .ibxDocs-sidebar ul.doc-nav-list > li.current_page_ancestor ul.children {
  display: block;
}
.ibxDocs-single-wrap .ibxDocs-single-content {
  width: 75%;
  border-left: 1px solid #eeeeee;
  padding-left: 25px;
}
.ibxDocs-single-wrap .ibxDocs-single-content ol.ibxDocs-breadcrumb {
  margin-bottom: 30px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.ibxDocs-single-wrap .ibxDocs-single-content ol.ibxDocs-breadcrumb li {
  display: inline;
}
.ibxDocs-single-wrap .ibxDocs-single-content ol.ibxDocs-breadcrumb li.delimiter {
  color: #999;
  margin: 0 2px;
}
.ibxDocs-single-wrap .ibxDocs-single-content ol.ibxDocs-breadcrumb a {
  text-decoration: none;
}
.ibxDocs-single-wrap .ibxDocs-single-content article {
  position: relative;
}
.ibxDocs-single-wrap .ibxDocs-single-content article a.ibxDocs-print-article {
  position: absolute;
  right: 0;
  top: 0;
  color: #777;
}
.ibxDocs-single-wrap .ibxDocs-single-content article a.ibxDocs-print-article:hover {
  color: #555;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content {
  width: 100% !important;
  float: none !important;
  display: block;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content a.anchorjs-link {
  text-decoration: none;
  box-shadow: none !important;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content img {
  max-width: 100%;
  border: 1px solid #eeeeee;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 25px;
  height: auto;
  background: #F9F9F9;
  display: block;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl {
  margin-bottom: 1em;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl dt {
  float: left;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 4px 9px;
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 1.2em;
  border-radius: 50px;
  color: #fff;
  background: #3197d1;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 15px;
  min-width: 9px;
  position: relative;
  top: 2px;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl dd {
  padding-top: 3px;
  margin: 0 0 5px 45px;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl dd:before,
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl dd:after {
  display: table;
  content: "";
  line-height: 0;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content dl dd:after {
  clear: both;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content .ibxDocs-callout {
  border-left: 5px solid;
  color: #333;
  font-size: 14px;
  margin-bottom: 2em;
  padding: 16px 25px 16px 20px;
  background: #f1f1f1;
  border-color: #cfcfcf;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content .ibxDocs-callout.callout-yellow {
  background: #fffcd5;
  border-color: #e7dca4;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content .ibxDocs-callout.callout-blue {
  background: #e8f4ff;
  border-color: #bed1e6;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content .ibxDocs-callout.callout-green {
  background: #e5fadc;
  border-color: #bbdaaf;
}
.ibxDocs-single-wrap .ibxDocs-single-content article .entry-content .ibxDocs-callout.callout-red {
  background: #fde8e8;
  border-color: #e7aaaa;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer {
  margin-top: 60px;
  float: none;
  width: 100%;
  display: block;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer:before,
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer:after {
  content: " ";
  display: table;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer:after {
  clear: both;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer .ibxDocs-article-author {
  display: none;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer .ibxDocs-help-link a {
  border-bottom: 1px dotted #C5C5C5;
  text-decoration: none;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer .ibxDocs-help-link a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
.ibxDocs-single-wrap .ibxDocs-single-content article footer.entry-footer.ibxDocs-entry-footer time {
  float: right;
  font-weight: normal;
  font-style: italic;
}
.ibxDocs-single-wrap .ibxDocs-single-content .ibxDocs-comments-wrap {
  position: relative;
}
.ibxDocs-doc-nav {
  width: 100%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 20px 0 30px 0;
  padding: 25px 0;
}
.ibxDocs-doc-nav:before,
.ibxDocs-doc-nav:after {
  content: " ";
  display: table;
}
.ibxDocs-doc-nav:after {
  clear: both;
}
.ibxDocs-doc-nav .nav-previous {
  float: left;
  width: 50%;
}
.ibxDocs-doc-nav .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
.ibxDocs-feedback-wrap {
  padding-top: 15px;
  text-align: center;
  margin: 25px 0;
}
.ibxDocs-feedback-wrap:before,
.ibxDocs-feedback-wrap:after {
  content: " ";
  display: table;
}
.ibxDocs-feedback-wrap:after {
  clear: both;
}
.ibxDocs-feedback-wrap .vote-link-wrap {
  margin-left: 10px;
}
.ibxDocs-feedback-wrap a {
  font-weight: normal;
  padding: 2px 10px 2px 10px;
  color: #fff;
  text-decoration: none;
  line-height: 150%;
  border-radius: 2px;
}
.ibxDocs-feedback-wrap a .count {
  background-color: #fff;
  border-radius: 50%;
  color: #999;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  line-height: 150%;
}
.ibxDocs-feedback-wrap a:hover {
  text-decoration: none;
}
.ibxDocs-feedback-wrap a.positive {
  background: #6a9c1f;
  border: 1px solid #67981e;
  margin-right: 10px;
}
.ibxDocs-feedback-wrap a.positive:hover {
  background-color: #5c871b;
  color: #fff;
}
.ibxDocs-feedback-wrap a.negative {
  background: #ac2d22;
  border: 1px solid #a82c21;
}
.ibxDocs-feedback-wrap a.negative:hover {
  background-color: #97271e;
  color: #fff;
}
.ibxDocs-alert {
  padding: 15px;
  border: 1px solid transparent;
}
.ibxDocs-alert.ibxDocs-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.ibxDocs-alert.ibxDocs-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.ibxDocs-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9985;
  background-color: #000;
  opacity: .5;
  display: none;
}
.ibxDocs-contact-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 9990;
  width: 560px;
  margin-left: -280px;
  background-color: #fff;
  border-radius: 3px;
  outline: 0;
  display: none;
}
.ibxDocs-contact-modal .ibxDocs-modal-close {
  position: absolute;
  display: block;
  z-index: 9997;
  top: 0;
  right: 0;
  text-decoration: none;
  background: #eee;
  padding: 5px 15px 5px 15px;
  color: #666;
  font-size: 15px;
}
.ibxDocs-contact-modal .ibxDocs-modal-close:hover {
  color: #333;
  background: #ccc;
}
.ibxDocs-contact-modal .ibxDocs-modal-header,
.ibxDocs-contact-modal .ibxDocs-modal-body {
  padding: 0 50px;
}
.ibxDocs-contact-modal .ibxDocs-modal-header {
  padding: 20px 0;
  text-align: center;
}
.ibxDocs-contact-modal .ibxDocs-modal-body {
  padding-bottom: 40px;
}
.ibxDocs-contact-modal .ibxDocs-modal-body #ibxDocs-modal-errors .ibxDocs-alert {
  margin-bottom: 20px;
}
.ibxDocs-contact-modal .ibxDocs-modal-body .ibxDocs-form-row {
  margin-bottom: 10px;
}
.ibxDocs-contact-modal .ibxDocs-modal-body .ibxDocs-form-row label {
  padding-bottom: 5px;
  display: block;
}
.ibxDocs-contact-modal .ibxDocs-modal-body .ibxDocs-form-action {
  margin-top: 10px;
}
.ibxDocs-contact-modal input[type="text"],
.ibxDocs-contact-modal input[type="email"],
.ibxDocs-contact-modal textarea {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  padding: 0.625em 0.4375em;
  width: 100%;
}
.ibxDocs-contact-modal input[type="text"]:focus,
.ibxDocs-contact-modal input[type="email"]:focus,
.ibxDocs-contact-modal textarea:focus {
  background-color: #fff;
  border-color: #007acc;
  color: #1a1a1a;
  outline: 0;
}
.ibxDocs-contact-modal input[disabled] {
  cursor: default;
  opacity: .5;
}
.ibxDocs-icon-spin {
  -webkit-animation: ibxDocs-spin 2s infinite linear;
  animation: ibxDocs-spin 2s infinite linear;
}
@-webkit-keyframes ibxDocs-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ibxDocs-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media screen and (max-width: 768px) {
  .ibxDocs-single-wrap {
    display: block;
  }
  .ibxDocs-single-wrap .ibxDocs-sidebar,
  .ibxDocs-single-wrap .ibxDocs-single-content {
    width: 100%;
  }
  .ibxDocs-single-wrap .ibxDocs-single-content {
    padding-left: 0;
    border-left: 0;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li,
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-2 > li {
    width: 48%;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+1) {
    clear: none;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .ibxDocs-hide-mobile {
    display: none;
  }
  .ibxDocs-single-wrap .ibxDocs-single-content footer.entry-footer.ibxDocs-entry-footer time {
    float: none;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li,
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-2 > li {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .ibxDocs-feedback-wrap .vote-link-wrap {
    display: block;
    margin-top: 15px;
  }
}
