@font-face {
  font-family: 'ibxDocs';
  src: url('../fonts/ibxDocs.eot?eqifws');
  src: url('../fonts/ibxDocs.eot?eqifws#iefix') format('embedded-opentype'), url('../fonts/ibxDocs.ttf?eqifws') format('truetype'), url('../fonts/ibxDocs.woff?eqifws') format('woff'), url('../fonts/ibxDocs.svg?eqifws#ibxDocs') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.ibxDocs-icon {
  font-family: 'ibxDocs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ibxDocs-icon-close:before {
  content: "\f00d";
}
.ibxDocs-icon-remove:before {
  content: "\f00d";
}
.ibxDocs-icon-times:before {
  content: "\f00d";
}
.ibxDocs-icon-home:before {
  content: "\f015";
}
.ibxDocs-icon-refresh:before {
  content: "\f021";
}
.ibxDocs-icon-print:before {
  content: "\f02f";
}
.ibxDocs-icon-envelope:before {
  content: "\f0e0";
}
.ibxDocs-icon-angle-left:before {
  content: "\f104";
}
.ibxDocs-icon-angle-right:before {
  content: "\f105";
}
.ibxDocs-icon-smile-o:before {
  content: "\f118";
}
.ibxDocs-icon-frown-o:before {
  content: "\f119";
}
.ibxDocs-shortcode-wrap.ibxDocs-grid:before,
.ibxDocs-shortcode-wrap.ibxDocs-grid:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single h3.ibxDocs-docs-single-title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-doc-content {
  padding: 15px;
  min-height: 60px;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-doc-link {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list ul.ibxDocs-docs-list {
  margin-left: 20px;
  padding: 0;
  list-style-type: disc;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list ul.ibxDocs-docs-list li {
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-grid ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
