@font-face {
  font-family: 'ibxDocs';
  src: url('../fonts/ibxDocs.eot?eqifws');
  src: url('../fonts/ibxDocs.eot?eqifws#iefix') format('embedded-opentype'), url('../fonts/ibxDocs.ttf?eqifws') format('truetype'), url('../fonts/ibxDocs.woff?eqifws') format('woff'), url('../fonts/ibxDocs.svg?eqifws#ibxDocs') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.ibxDocs-icon {
  font-family: 'ibxDocs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ibxDocs-icon-close:before {
  content: "\f00d";
}
.ibxDocs-icon-remove:before {
  content: "\f00d";
}
.ibxDocs-icon-times:before {
  content: "\f00d";
}
.ibxDocs-icon-home:before {
  content: "\f015";
}
.ibxDocs-icon-refresh:before {
  content: "\f021";
}
.ibxDocs-icon-print:before {
  content: "\f02f";
}
.ibxDocs-icon-envelope:before {
  content: "\f0e0";
}
.ibxDocs-icon-angle-left:before {
  content: "\f104";
}
.ibxDocs-icon-angle-right:before {
  content: "\f105";
}
.ibxDocs-icon-smile-o:before {
  content: "\f118";
}
.ibxDocs-icon-frown-o:before {
  content: "\f119";
}
/* List Type 1 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-1:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-1:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  padding-left: 3%;
  padding: 1%;
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 10%;
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-1 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
/* List Style 2 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-2:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-2:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-color: #ddd;
  align-items: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  display: inline-flex;
  flex-direction: column;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-2 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
/* List Style 2 CSS */
.ibxDocs-shortcode-wrap.ibxDocs-list-3:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-3:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:before,
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:after {
  content: " ";
  display: table;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list:after {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single {
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper {
  width: 90%;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-flex;
  flex-direction: column;
  background-color: #ddd;
  margin-right: 10px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title {
  font-size: 36px;
  margin-bottom: 2px;
  margin-left: 1%;
  display: block;
  text-align: left;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper h3.ibxDocs-docs-single-title a {
  text-decoration: none;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content {
  padding: 15px;
  margin: 0;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items {
  margin: 0 !important;
  list-style-type: none !important;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li {
  display: inline-block;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item {
  color: #696666;
  letter-spacing: 1px;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single div.ibxDocs-docs-single-tile-section-wrapper div.ibxDocs-doc-content ul.ibxDocs-doc-items li .ibxDocs-doc-item:hover {
  color: #000000;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single .ibxDocs-docs-single-topic-count {
  width: 10%;
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-1 > li {
  width: 100%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li {
  float: left;
  width: 48%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-2 > li:nth-child(2n+1) {
  clear: both;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li {
  float: left;
  width: 31%;
  margin-right: 3%;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+1) {
  clear: both;
}
.ibxDocs-shortcode-wrap.ibxDocs-list-3 ul.ibxDocs-docs-list li.ibxDocs-docs-single.col-3 > li:nth-child(3n+3) {
  margin-right: 0;
}
