@media screen and (max-width: 768px) {
  .ibxDocs-single-wrap {
    display: block;
  }
  .ibxDocs-single-wrap .ibxDocs-sidebar,
  .ibxDocs-single-wrap .ibxDocs-single-content {
    width: 100%;
  }
  .ibxDocs-single-wrap .ibxDocs-single-content {
    padding-left: 0;
    border-left: 0;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li,
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-2 > li {
    width: 48%;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(3n+1) {
    clear: none;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .ibxDocs-hide-mobile {
    display: none;
  }
  .ibxDocs-single-wrap .ibxDocs-single-content footer.entry-footer.ibxDocs-entry-footer time {
    float: none;
  }
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-3 > li,
  .ibxDocs-shortcode-wrap ul.ibxDocs-docs-list.col-2 > li {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .ibxDocs-feedback-wrap .vote-link-wrap {
    display: block;
    margin-top: 15px;
  }
}
